[user]
	name = Caleb Tutty
	email = caleb.tutty@gmail.com
[alias]
  st = status
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%C(blue)%x20(%ce)%x20%C(cyan)[gpg:%GK%x20%G?]%C(reset)%n%x20%s%n"
[color]
  ui = true
[core]
  excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
